.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.block {	
	flex: 0 0 30%;
}
.form-block {
	flex: 0 0 70%;
	margin-top: 50px;
}

input {
	display: block;
	margin-bottom: 10px;
}

.user-job {
	margin-bottom: 30px;
}