.container {
	/* margin-left: 50px; */
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}

.nav-block {
	margin: 0 auto 20px auto;
	width: 500px;
	/* margin-left: 50px;
	margin-bottom: 20px; */
	font-weight: 700;
}

.nav-buttons {
	margin-bottom: 10px;
}

.page-number {
	margin-bottom: 10px;
}

input {
	display: block;
	margin-bottom: 10px;
	margin: 0 auto 20px auto;
}

.user-job {
	margin-bottom: 30px;
}

.hidden {
	display: none;
}

.authorizated {
	display: block;
}

.size {
	margin: 0 auto;
	display: block;
	width: 128px;
	height: 128px;
	object-fit: contain;
}

h3 {
	font-size: 1rem;
	margin-bottom: 0;
}

p {
	display: inline;
	margin: 0;
}

p.user-last-name {
	margin-bottom: 10px;
}

.user-list {
	flex-wrap: wrap;
   display: flex;
   column-gap: 10px;
	justify-content: center;
}
.form-block {
	text-align: center;
	border: 1px solid black;
	padding: 30px 15px;
	border-radius: 20px;
	width: 300px;
	height: fit-content;
	margin: calc(50vh - 119px) auto;
}

.user-last label {
	display: inline-block;
}

.login-button	{
	margin: 0 auto;
	display: block;
}

.content-block	{
	width: 50%;
	height: calc(100vh - 200px);
	overflow: auto;
}

.content-block::-webkit-scrollbar {
	width: 1px;
}

.content-block::-webkit-scrollbar-track {
	background: transparent;
}

.content-block::-webkit-scrollbar-thumb {
	background-color: rgb(221, 221, 221);
}

.user-last-name {
	margin-bottom: 50px;
}

.template-user-block {
	min-width: 25%;
	display: inline-block;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
	background-color: antiquewhite;
	border-radius: 10px;
}

.edit-block {
	padding: 20px;
	width: 40%;
	border-radius:  20px;
}

.edit-block input {
	font-size: 1rem;
	padding: 0 15px;
	width: 50%;
	height: 30px;
}

.edit-elem {
	text-align: center;
}

.edit-button {
	margin-top: 15px;
	cursor: pointer;
}

.delete-button {
	cursor: pointer;
}

.message-block, .error-block {
	height: 10px;
	color: red;
}

.form-edit-elem h3 {
	font-size: 1rem;
	margin-bottom: 10px;
	letter-spacing: 1;
}

.edited-elem-send, .edited-elem-cancel {
	display: inline-block;
	width: fit-content;
	padding: 10px;
	font-size: 1rem;
	color:black;
	text-decoration: none;
	border: 1px solid black;
}

.edited-elem-send {
	margin-right: 20px;
}

.form {
	margin-bottom: 20px;
}

div.template-user-block {
	display: inline-block;
}